%section.full-slider.no-padding
  .slider
    - data.team.each do | team_member |
      .slide
        .container
          .profile-row
            .image.show-desktop
              = image_tag avatar_path(team_member[:image])
            .copy
              %h2= team_member[:name]
              %h4.subheader= team_member[:job_title]
              %p= team_member[:about]
              .button-row.shift-to-bottom
            .image.hide-desktop.no-padding
              = image_tag avatar_path(team_member[:image])
