= partial 'partials/headline'
-# = partial 'partials/benefits_table'
= partial 'partials/main_benefits'
= partial 'partials/agile_teams'
= partial 'partials/team'
-# = partial 'partials/faqs'
= partial 'partials/call_to_action'



